{{landing-text content='landing.citizen.title' classes="title"}}
{{landing-statement content="landing.citizen.problem.1" imageSide='right'}}
{{landing-statement content="landing.citizen.problem.2" imageSide='left'}}
{{landing-statement content="landing.citizen.problem.3" imageSide='right'}}
<div class="centered">
  {{landing-text content='landing.citizen.solution.title' classes="title"}}
  {{landing-paragraph content='landing.citizen.solution.1' hasImage=true}}
  {{landing-paragraph content='landing.citizen.solution.2' hasImage=true}}
  {{landing-paragraph content='landing.citizen.solution.3' hasImage=true}}
  <div class='sign-up'>
    {{landing-text content='sign_up' classes="medium"}}
    {{outlet 'create-account'}}
  </div>
</div>
