{{landing-text content='landing.government.title' classes="title"}}
{{landing-statement content="landing.government.problem.1" imageSide='right'}}
{{landing-statement content="landing.government.problem.2" imageSide='left'}}
<div class="centered">
  {{landing-text content='landing.government.solution.title' classes="title"}}
  {{landing-paragraph content='landing.government.solution.1' hasDiagrams=true}}
  {{landing-paragraph content='landing.government.solution.2' hasDiagrams=true}}
  {{landing-paragraph content='landing.government.solution.3' hasDiagrams=true}}
  {{landing-contact type='government' embedded=true}}
</div>
