<a name="top"></a>
<div class="text">
  {{landing-text content='landing.organisation.title' classes="title centered"}}
  {{landing-text content='landing.organisation.subtitle' classes="subtitle small centered"}}
  {{landing-paragraph content='landing.organisation.people' name="people"}}
  {{landing-paragraph content='landing.organisation.healthy' name="healthy"}}
  {{landing-paragraph content='landing.organisation.help' name="help"}}
  {{landing-paragraph content='landing.organisation.non_profit' name="non-profit"}}
  {{landing-paragraph content='landing.organisation.open_source' name="open-source"}}
  {{landing-contact type='organisation' embedded=true}}
</div>
