<div class="text">
  {{landing-text content='landing.organisation.title' classes="title centered"}}
  {{landing-text content='landing.organisation.subtitle' classes="subtitle small centered"}}
  {{landing-paragraph content='landing.organisation.find'}}
  {{landing-paragraph content='landing.organisation.help'}}
  {{landing-paragraph content='landing.organisation.profit'}}
  {{landing-contact type='organisation' embedded=true}}
</div>
