{{landing-text content='landing.organization.title' classes="title"}}
{{landing-text content='landing.organization.subtitle' classes="subtitle"}}
{{landing-statement content="landing.organization.problem.1" imageSide='right'}}
{{landing-statement content="landing.organization.problem.2" imageSide='left'}}
<div class="centered">
  {{landing-text content='landing.organization.solution.title' classes="title"}}
  {{landing-paragraph content='landing.organization.solution.1' hasDiagrams=true}}
  {{landing-paragraph content='landing.organization.solution.2' hasDiagrams=true}}
  {{landing-paragraph content='landing.organization.solution.3' hasDiagrams=true}}
  {{landing-paragraph content='landing.organization.solution.4' hasDiagrams=true}}
  {{landing-contact type='organization' embedded=true}}
</div>
