<div class="top">
  <div class="main">
    {{landing-text content="landing.tagline" classes="title"}}
    <div class="links">
      {{landing-text classes='medium' content='landing.links.solve' emoji='man_pilot:t5'}}
      {{landing-text classes='medium' content='landing.links.technology' emoji='woman_technologist:t2'}}
      {{landing-text classes='medium' content='landing.links.contribute' emoji='park'}}
    </div>
    {{locale-selection}}
  </div>

  <div class="sign-up">
    {{landing-text content='landing.sign_up' classes="large"}}
    {{landing-text content="landing.sign_up_tagline" classes="medium"}}
    {{outlet 'create-account'}}
  </div>
</div>

<div class="scroll-to-map centered" {{action 'scrollToMap'}}>
  {{landing-text classes="medium centered" content="landing.links.map" emoji="world_map"}}
  {{d-icon 'chevron-down'}}
</div>

<div class="bottom centered">
  {{map-component locations=locations zoom='2' center=mapCenter}}
</div>
