<div class="top">
  <div class="main">
    {{landing-text content="landing.tagline" classes="large tagline"}}
    <div class="links">
      {{landing-text classes='animated-link medium' content='landing.links.open' emoji='sunny' url='https://github.com/civicallyhq'}}
      {{landing-text classes='animated-link medium' content='landing.links.contribute' emoji='woman_technologist:t2' url='https://civically.io/c/plans'}}
      {{landing-text classes='animated-link medium' content='landing.links.technology' emoji='bulb' url='https://civically.io/t/apps-and-app-store'}}
    </div>
    {{locale-selection}}
  </div>

  <div class="sign-up">
    {{landing-text content='landing.sign_up' classes="large"}}
    {{landing-text content="landing.sign_up_tagline" classes="medium"}}
    {{outlet 'create-account'}}
  </div>
</div>

<div class="scroll-to-map centered" {{action 'scrollToMap'}}>
  {{landing-text classes="medium centered" content="landing.links.map" emoji="world_map"}}
  {{d-icon 'chevron-down'}}
</div>

<div class="bottom centered">
  {{map-component locations=locations zoom='2' center=mapCenter}}

  <div class="contact">
    {{d-button action='contact' label='landing.contact.title' class='btn-primary btn-large'}}
  </div>

  <div class="background-image">
    <img src="/plugins/civically-landing-page/images/background.png">
  </div>
</div>
