<img src="/plugins/civically-menus/images/logo.png" height="40" class="pull-left">
<ul class="footer-links">
  <li>{{landing-text content='landing.government.link' url="/governments" classes="small animated-link"}}</li>
  <li>{{landing-text content='landing.organization.link' url="/organizations" classes="small animated-link"}}</li>
  <li>{{landing-text content="about.simple_title" url="/about" classes="small animated-link"}}</li>
  <li>{{landing-text content="faq" url="/faq" classes="small animated-link"}}</li>
  <li>{{landing-text content="terms_of_service" url="/tos" classes="small animated-link"}}</li>
  <li>{{landing-text content="privacy" url="/privacy" classes="small animated-link"}}</li>
</ul>
<div class="footer-disclaimer">
  {{landing-text content="landing.footer_legal_title" classes="small p-link"}}
  {{landing-text content="landing.footer_legal_text" classes="small"}}
</div>
