{{landing-text content=(concat content '.title') classes="large"}}
{{landing-text content=(concat content '.desc') classes="small"}}
{{#if hasDiagrams}}
  {{landing-diagram title=(concat content '.diagram_1.title') url=(concat content '.diagram_1.url')}}
  {{landing-diagram title=(concat content '.diagram_2.title') url=(concat content '.diagram_2.url')}}
{{/if}}
{{#if hasImage}}
  <div class="landing-image">
    <img src="{{i18n (concat content '.image')}}">
  </div>
{{/if}}
