<div class="footer-left">
  <img src="/plugins/civically-menus/images/logo.png" height="40" class="pull-left">
  <ul class="footer-links">
    {{!--
      <li>{{landing-text content='landing.government.link' linkTo="landingGovernments" classes="small animated-link"}}</li>
      <li>{{landing-text content='landing.organization.link' linkTo="landingOrganizations" classes="small animated-link"}}</li>
    --}}
    <li>{{landing-text content="about.simple_title" linkTo="about" classes="small animated-link"}}</li>
    <li>{{landing-text content="team.label" linkTo="team" classes="small animated-link"}}</li>
    {{#if siteSettings.discourse_donations_enabled}}
      <li>{{landing-text content="discourse_donations.nav_item" linkTo="donate" classes="small animated-link"}}</li>
    {{/if}}
    <li>{{landing-text content="civically.github" url="https://github.com/civicallyhq" classes="small animated-link"}}</li>
    <li>{{landing-text content="faq" linkTo="faq" classes="small animated-link"}}</li>
    <li>{{landing-text content="privacy" linkTo="privacy" classes="small animated-link"}}</li>
    <li>{{landing-text content="terms_of_service" linkTo="tos" classes="small animated-link"}}</li>
  </ul>
</div>
<div class="footer-disclaimer">
  {{landing-text content="landing.footer_legal_title" classes="small"}}
  {{landing-text content="landing.footer_legal_text" classes="small" markdown=true}}
</div>
