{{#if icon}}
  <i class="fa fa-{{icon}}" aria-hidden="true"></i>
{{/if}}
{{#if emoji}}
  {{replace-emoji formattedEmoji}}
{{/if}}
{{#if linkTo}}
  {{#link-to linkTo}}{{text}}{{/link-to}}
{{else}}
  {{#if url}}
    <a href="{{url}}" target='_blank'>{{text}}</a>
  {{else}}
    <span>{{text}}</span>
  {{/if}}
{{/if}}
