{{#if icon}}
  <i class="fa fa-{{icon}}" aria-hidden="true"></i>
{{/if}}
{{#if emoji}}
  {{replace-emoji formattedEmoji}}
{{/if}}
{{#if url}}
  <a href="{{url}}" target='_blank'>{{text}}</a>
{{else}}
  <span>{{text}}</span>
{{/if}}
