{{#if icon}}
  <i class="fa fa-{{icon}}" aria-hidden="true"></i>
{{/if}}
{{#if emoji}}
  {{replace-emoji formattedEmoji}}
{{/if}}
{{#if linkTo}}
  {{#link-to linkTo}}{{text}}{{/link-to}}
{{else}}
  {{#if url}}
    <a href="{{url}}" target='_blank'>{{text}}</a>
  {{else}}
    <span>
      {{#if image}}
        <span class="{{imageClasses}}">{{image}}</span>
      {{/if}}
      {{text}}
    </span>
  {{/if}}
{{/if}}
